@import url("../css/global.css");

@import url("../css/variables.css");

.MainContent,
.MainContentImages {
    display: flex;
    justify-content: center;
}

.MainContent {
    color: var(--textcolor);
    flex-direction: column;
    align-items: center;
}

.MainContentImages {
    flex-direction: row;
    margin-top: 20px;
}

.MainContentImages img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.Title {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--titlefontsize);
}