@import url("../css/global.css");

@import url("../css/variables.css");

.MainContent {
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--titlefontsize);
}

.ContentContactUs {
    max-width: 600px;
    border-color: var(--bordercolor);
    border-style: inset;
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .ContentContactUs h3 {
    font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
  }
  
  .ContentContactUs p {
    font-family: "Albert Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fhfontsize);
  }

.SubTitle {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
}

.ContactUs {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fhfontsize);
    max-width: 600px;
    border-color: var(--bordercolor);
    border-style: inset;
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.ContactUs form {
    border-color: var(--bordercolor);
    border-style: inset;
}

.ContactUs form {
    border-style: none;
}

.ContactUs input,
.Inquiry textarea {
    border-color: var(--bordercolor);
    border-style: inset;
    border-width: 4px;
}

.ContactUs ::placeholder {
    color: var(--textcolor);
    opacity: 60%;
}

.ContactUsForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Subject,
.Inquiry,
.SubmitButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Inquiry a {
    text-decoration: none;
}

.SubmitButton {
    margin: 20px;
    border: none;
    border-radius: 50px;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--buttonfontsize);
    background-color: var(--backgroundcolor);
    color: var(--headertextcolor);
    cursor: pointer;
}

.SubmitButton:hover {
    background-color: var(--texthover);
}

.Subject input,
.Inquiry textarea {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    width: 600px;
    max-width: 600px;
}

.ContactUsEmail input,
.ContactUsName input {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    width: 280px;
}

.Inquiry textarea {
    height: 100px;
}

.ContactUsName {
    margin-right: 30px;
}