@import url("../css/global.css");

@import url("../css/variables.css");

.MainContent {
    min-height: 1000px;
}

.PartA {
    min-height: 750px;
    color: var(--textcolor);
}

.PartAHeader {
    font-family: "Albert Sans Extra Bold", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--titlefontsize);
    border-color: var(--bordercolor);
    border-bottom-style: groove;
}

.PartAContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    gap: 40px;
    padding: 20px;
    max-width: 100%;
}

.PartAContent h3 {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
}

.PartAContent p {
    font-family: "Asar Regular", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fhfontsize);
    font-stretch: expanded;
    color: var(--textcolor);
}

.PartAContent a {
    text-decoration: none;
    color: var(--textcolor);
}

.PartAContent a:hover {
    text-decoration: underline;
    color: var(--texthover);
    cursor: pointer;
}

.PartA,
.VRPainting,
.aaiim,
.OurLibrary,
.DinosaurAncientLife,
.scienceofyou,
.WondersOfSpace {
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-color: var(--bordercolor);
    border-bottom-style: groove;
}

.PartA img,
.VRPainting img,
.aaiim img,
.OurLibrary img,
.DinosaurAncientLife img,
.scienceofyou img,
.WondersOfSpace img {
    width: 800px;
    height: 400px;
    object-fit: cover;
}