@import url("../css/global.css");

@import url("../css/variables.css");

.MainContent {
    min-height: 1000px;
}

.PartA {
    min-height: 750px;
    color: var(--textcolor);
}

.PartAHeader {
    font-family: "Albert Sans Extra Bold", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--titlefontsize);
    border-color: var(--bordercolor);
    border-bottom-style: groove;
}

.PartAContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
    padding: 10px;
}

.PartAContent h2 {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
}

.PartAContent p {
    font-family: "Albert Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fhfontsize);
    font-stretch: expanded;
    color: var(--textcolor);
}

.PartAContent a {
    text-decoration: none;
    color: var(--textcolor);
}

.PartAContent a:hover {
    text-decoration: underline;
    color: var(--texthover);
    cursor: pointer;
}

.PartA,
.Cosmology,
.Evolution,
.BiologyandMedicine,
.RoboticsandAI,
.Ecology,
.WondersOfSpace {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-color: var(--bordercolor);
    border-bottom-style: groove;
}

.PartA img,
.Cosmology img,
.Evolution img,
.BiologyandMedicine img,
.RoboticsandAI img,
.Ecology img,
.WondersOfSpace img {
    max-width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: cover;
}