@import url("../css/global.css");

@import url("../css/variables.css");

.MainContentInvolved {
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainContentInvolved img {
    width: 600px;
    height: 200px;
    object-fit: cover;
    object-position: 100% 20;
    margin-top: 20px;
}

.GetInvolvedHeader h1 {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--titlefontsize);
    color: var(--textcolor);
}

.MainContentInvolved h1 {
    display: flex;
    justify-content: center;
}

.MainContentInvolved h3 {
    font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
    margin-bottom: -10px;
}

.MainContentInvolved p {
    font-family: "Albert Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fhfontsize);
}

.GetInvolvedContent {
    width: 700px;
    border-color: var(--bordercolor);
    border-style: inset;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.ContactUsButton {
    margin: 20px;
    border: none;
    border-radius: 50px;
    padding: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--buttonfontsize);
    background-color: var(--backgroundcolor);
    color: var(--headertextcolor);
    cursor: pointer;
}

.ContactUsButton:hover {
    background-color: var(--texthover);
}