@font-face {
    font-family: "Albert Sans Bold";
    src: url("../assets/fonts/AlbertSans-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Albert Sans Extra Bold";
    src: url("../assets/fonts/AlbertSans-ExtraBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Albert Sans Semi Bold";
    src: url("../assets/fonts/AlbertSans-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Albert Sans Regular";
    src: url("../assets/fonts/AlbertSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Asar Regular";
    src: url("../assets/fonts/Asar-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Prociono Regular";
    src: url("../assets/fonts/Prociono-Regular.ttf") format("truetype");
  }

html, body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1980px;
    background-color: var(--backgroundcolor);
    text-decoration: none;
    border-style: inset;
    border-color: var(--bordercolor);
    border-width: 1px;
  }

.HeaderButtons {
    margin: 0;
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backgroundcolor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: var(--fhfontsize);
    min-width: 860px;
}

.HeaderButtons a,
.HeaderButtons li {
  text-decoration: none;
  list-style-type: none;
  color: var(--headertextcolor);
  cursor: pointer;
}

.HeaderButtons a:hover {
  color:var(--texthover);
  text-decoration: underline;
}

.icon {
    width: 70px;
    height: 70px;
}

footer {
  font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--headertextcolor);
  font-size: var(--fhfontsize);
  background-color: var(--backgroundcolor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  min-width: 860px;
}

.SocialX,
.SocialInsta,
.SocialFB,
.FooterPages {
  padding-left: 100px;
}

.SocialX,
.SocialInsta,
.SocialFB {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FooterSocials img {
  width: 30px;
  height: 30px;
  padding-left: 20px;
  padding-right: 5px;
}

.FooterPages,
.FooterPages a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--headertextcolor);
}

.FooterPages a:hover {
  color:var(--texthover);
  text-decoration: underline;
}

.FooterCopyright {
  font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--headertextcolor);
  font-size: var(--fhfontsize);
  background-color: var(--backgroundcolor);
  padding-top: 20px;
}

footer img {
  width: 200px;
  height: 200px;
}

/* Exhibition Pages Global */

.ExhibitionPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ExhibitionContent {
  border-color: red;
  border-style: initial;
}

.ExhibitionPages h1 {
  font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--titlefontsize);
  color: var(--textcolor);
}

.ExhibitionPages h2 {
  font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--subtitlefontsize);
}

.ExhibitionPages p {
  font-family: "Albert Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--fhfontsize);
  margin-top: 40px;
  margin-bottom: 40px;
}

.ExhibitionPages img {
  width: 70%;
  height: 450px;
  object-fit: cover;
  object-position: 100% 60%;
  border-radius: 50px;
}

.ExhibitionPages h2,
.ExhibitionPages p {
  width: 60%;
}

.MainContent,
.ExhibitionPages,
.MainContentInvolved {
  background-color: white;
}


/* About Us. Contact Us and Visit Us pages */
.Content {
  max-width: 600px;
  border-color: var(--bordercolor);
  border-style: inset;
  margin-bottom: 40px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.Content img {
  width: 600px;
  height: 200px;
  object-fit: cover;
}

.Content h3 {
  font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--subtitlefontsize);
}

.Content p {
  font-family: "Albert Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--fhfontsize);
}