@import url("../css/global.css");

@import url("../css/variables.css");

.MainContent {
    min-height: 1000px;
}

.PartA {
    background-image: url("../assets/images/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--whitebackground);
}

.PartAText {
    display: flex;
    flex-direction: column;
}

.PartA h3 {
    font-family: "Albert Sans Extra Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--titlefontsize);
}

.PartA h4 {
    font-family: "Albert Sans Extra Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.PartA img {
    width: 300px;
    height: 300px;
}

.PartB {
    min-height: 750px;
    color: var(--textcolor);
}

.PartBHeader {
    font-family: "Albert Sans Extra Bold", Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--titlefontsize);
    border-color: var(--bordercolor);
    border-bottom-style: groove;
}

.PartBContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    gap: 40px;
    padding: 20px;
}

.PartBContent h3 {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--subtitlefontsize);
}

.PartBContent p {
    font-family: "Albert Sans Regular", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fhfontsize);
    font-stretch: expanded;
}

.Aeronautics,
.NightMuseum,
.EnergeticaExhibitionLoan {
    padding: 40px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-color: var(--bordercolor);
    border-bottom-style: groove;
    border-radius: 20px;
}

.Aeronautics img,
.NightMuseum img,
.EnergeticaExhibitionLoan img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.ExhibitionButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 20px;
}

.ExhibitionButton button {
    font-family: "Albert Sans Semi Bold", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--whitebackground);
    font-size: var(--buttonfontsize);
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;
    border-radius: 20px;
    background-color: var(--backgroundcolor);
}

.ExhibitionButton button:hover {
    background-color: var(--bordercolor);
    cursor: pointer;
}