/* Home */
@media (max-width: 900px) {
    .MainContent {
        min-width: 100px;
    }
}

@media (max-width: 1683px) {
    .PartBContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .PartBContent img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 850px) {
    .Aeronautics,
    .NightMuseum,
    .EnergeticaExhibitionLoan {
        width: 95%;
    }
}

/* Hamburger Menu Header */

@media (max-width: 901px) {
    .bars {
        position: absolute; 
        right: 10px; 
    }
}

@media (min-width: 901px) {
    .bars {
        display: none;
    }

    header img {
        margin-right: 20px;
    }

    header {
        display: flex;
    }

    header a {
        display: inline-block;
    }

    .hamburger,
    .hamburger ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 88%;
        list-style-type: none;
    }

    .hamburger a {
        font-family: "Albert Sans Bold",
        Verdana, Geneva, Tahoma, sans-serif;
        font-size: var(--fhfontsize);
        text-decoration: none;
        color: var(--headertextcolor);
        cursor: pointer;
    }
    

    .hamburger a:hover {
        color: var(--texthover);
        text-decoration: underline;
    }
}

/* Hamburger Menu Header */

/* Exhibition Spaces responsive */

@media (max-width: 863px) {
    .PartAContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* All Exhibition Space individual pages */
@media (max-width: 900px) {
    .ExhibitionPages img {
        height: 225px;
    }
}

/* Visit Us and About us Pages */
@media (max-width: 900px) {
    .Content {
        padding-top: 20px;
        width: 50%;
    }

    .Content img {
        width: 100%;
    }
}

/* About Us Page */
@media (max-width: 900px) {
    .MainContentImages img {
        width: calc(1vw * 30);
        height: 150px;
    }
}

/* Contact Us Page */
@media (max-width: 900px) {
    .ContentContactUs {
        padding-top: 20px;
        width: 50%;
        max-width: none;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 760px) {
    .ContactUs {
        width: 75%;
    }
}

@media (max-width: 750px) {
    .ContactUsForm {
        display: flex;
        flex-direction: column;
    }

    .ContactUsName {
        margin-right: 0px;
    }

    .ContactUsName h3,
    .ContactUsEmail h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ContactUsEmail input,
    .ContactUsName input {
        width: calc(1vw * 40);
    }

    .Subject input,
    .Inquiry textarea {
        width: calc(1vw * 80);
    }

    .Inquiry textarea {
        max-width: calc(1vw * 80);
    }
}

/* Get Involved Page */
@media (max-width: 900px) {
    .MainContentInvolved img {
        width: 60%;
        height: 200px;
    }

    .GetInvolvedContent img {
        width: 75%;
    }

    .GetInvolvedContent {
        width: 80vw;
    }
}

/* All h1, h2, h3, h4, p font change */
@media (max-width: 900px) {

    .MainContent h1,
    .ExhibitionPages h1,
    .GetInvolvedHeader h1 {
        font-size: var(--phonetitlefontsize);
    }

    .MainContent h3,
    .ExhibitionPages h3,
    .GetInvolvedContent {
        font-size: var(--phonesubtitlefontsize);
    }

    .MainContent h4 {
        font-size: var(--phonefhfontsize);
    }

    .MainContent button,
    .MainContentInvolved button {
        font-size: var(--phonebuttonfontsize);
    }

    .MainContent p,
    .ExhibitionPages p,
    .MainContent input {
        font-size: var(--phonefhfontsize);
    }

    .PartAText h1,
    .PartAText h2 {
        display: flex;
        justify-content: center;
    }

    .PartAText h1 {
        font-size: var(--phonetitlefontsize);
    }
    .PartAText h2 {
        font-size: var(--phonesubtitlefontsize);
    }
}

/* Global Header and Footer */
@media (max-width: 1000px) {
    .HeaderButtons {
        display: flex;
        flex-direction: column;
        font-size: var(--phonefhfontsize);
    }

    footer,
    .FooterCopyright {
        min-width: 200px;
        padding: none;
        display: flex;
        flex-direction: column;
    }

    .SocialX,
    .SocialInsta,
    .SocialFB,
    .FooterPages,
    .FooterCopyright {
        padding-left: 0px;
        align-items: center;
    }

    footer h3,
    .FooterCopyright {
        font-size: var(--phonefhfontsize);
        text-decoration: none;
    }
}