:root {
 --backgroundcolor: #21562a;
 --whitebackground: #f2f2f2;

 --headertextcolor: #f2f2f2;
 --textcolor: #3b3b3b;
 --bordercolor: #3fa652;

 --texthover: #3fa652;

 --fhfontsize: 16px;
 --titlefontsize: 35px;
 --subtitlefontsize: 25px;
 --buttonfontsize: 20px;

 /*Font's on Phone */
 --phonefhfontsize: 16px;
 --phonetitlefontsize: 35px;
 --phonesubtitlefontsize: 25px;
 --phonebuttonfontsize: 20px;
}