@import url("../css/global.css");

@import url("../css/variables.css");

.MainContent {
    color: var(--textcolor);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.Title {
    font-family: "Albert Sans Bold", Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--titlefontsize);
}